* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    max-width: 350px;
}

header > h1 {
    color: #F9F4D4;
    font-size: 1.5rem;
    font-weight: 500;
}

header > p {
    color: #8E8E8E;
    font-size: 0.875rem;
}

section.status {
    text-align: center;
    background-color: #10A95B;
    min-width: 330px;
    min-height: 40px;
    border-radius: 6px;
    margin-block: 30px;
}

section.status > h3 {
    margin-top: 3px;
    margin-bottom: 0px;
    color: #F9F4DA;
}

section.status > p {
    margin-top: 0;
    margin-bottom: 8px;
    color: #F9F4DA;
}

section.languages {
    display: flex;
    max-width: 300px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
}

section.languages > span {
    border-radius: 3px;
    font-size: 0.8rem;
    padding: 4px;
}

section.keyword {
    margin-top: 25px;
    display: flex;
    gap: 2px;
}

section.keyword > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #323232;
    width: 30px;
    height: 30px;
    border-bottom: 1.5px solid #F9F4DA;
    text-transform: capitalize;
}

/* section.keyboard {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 440px;
    height: 120px;
    gap: 4px;
} */

section.keyboard {
    margin-top: 40px;
    display: flex;
    max-width: 440px;
    flex-wrap: wrap;
    height: 120px;
    gap: 4px;
    justify-content: center;
}

section.keyboard > button {
    background-color: #FCBA29;
    border-radius: 5px;
    font-weight: 600;
    width: 40px;
}

button.new-game {
    margin-top: 30px;
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 200px;
    height: 35px;
    padding: 6px 6px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
}